html, body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
}

/* Helpers de Cores 

Azul Escuro: #2b2968
Vermelho: #ed1f26;

/*

/* Titulos */
.titulo-banner {
	font-family: "Roboto";
	font-weight: 900;
	font-size: 48px;  
	color: #fff;
}

.titulo-sessao {
	font-family: "Roboto";
	font-weight: 900;
	font-size: 46px;
	color: #ed1f26;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.produto-titulo {
	font-family: "Roboto";
	font-weight: 700;
	color: #40479d;
	text-align: center;
	text-transform: uppercase;
	padding-top: 15px;
}

/* Subtitulos */
.subtitulo-banner {
	font-family: "Roboto";
	font-weight: 400;
	font-size: 22px;
	color: #fff;
}

/* Preços */
.produto-preco {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 18px;	
	color: #ed1f26;
	text-align: center
}

.medida-preco {
	font-family: "Roboto";
	font-weight: 300;
}

/* Cabeçalho */
.cabecalho-principal {
	padding: 5px 0;
	background-color: #2b2968;
	border-top: 5px solid #ed1f26;
}

.menu-principal ul li a {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 22px;
	text-transform: uppercase;
	color: #fff;
}

@media (min-width: 992px) {
	.nav-item {
		padding: 0 25px;
	}

	.nav-item::last-child {
		padding: 0
	}
}

.nav-link:hover {
	color: #ffe900;
	transition: 0.3s;
}

/* Carousel Home */
.carousel-imagem {
	background-color: rgba(255, 228, 1, 0.7);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 60vh;
}

.carousel-conteudo {
	display: flex;
	align-items: center;
	height: 60vh;
}

.carousel-controles {
	display: none;
}

.carousel-indicators > li {
	width: 7px;
	height: 7px;
	border-radius: 50%;
}

@media (max-width: 767px) {
	.carousel-imagem {
		height: 88.6vh;
	}

	.carousel-conteudo {
		height: 88.6vh;
	}

	.carousel-controles {
		display: block;
	}
}

.btn-banner {
	font-family: "Roboto";
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	background-color: #2b2968;
	color: #ffe900;
	border-radius: 2em;
	padding: 10px 20px;
}

.btn-banner:hover {
	background-color: #ed1f26;
	color: #fff;
	transition: 0,3s;
}

/* Ofertas */

.ofertas-home {
	padding-top: 70px;
}

.produto-titulo {
	font-family: "Roboto";
}

/* Rodapé */
.rodape-principal {
	padding: 25px 0;
	background-color: #2b2968;
	border-bottom: 5px solid #ed1f26;
}

.endreco-loja-area {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.endereco-loja-nome {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 18px;
	color: #ffe900;
}

.endreco-loja {
	font-family: "Roboto";
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	text-align: right;
}

.logo-ipiranga-rodape-area {
	padding-top: 15px;
	display: flex;
	justify-content: flex-end;
}

@media (max-width: 767px) {
	.endreco-loja-area {
		align-items: center;
	}

	.endreco-loja {
		text-align: center;
	}

	.logo-ipiranga-rodape-area {
		justify-content: center;
	}
}